<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/dist/css/bootstrap.min.css') }}">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="libs/html5shiv/html5shiv.min.js"></script>
            <script src="libs/respond.min/index.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Suivi de positions Google</h1>
        </div>

        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
            <h2>Paramètres</h2>
            <form class="form-vertical" action="{{ url_for('google_position') }}" method="POST" role="form">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.website.label }}
                    {% if form.website.errors %}
                        <div class="bg-danger">{% for error in form.website.errors %}<div>{{ error }}</div>{% endfor %}</div>
                    {% endif %}
                    {{ form.website(class_='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.keywords.label }}
                    {% if form.keywords.errors %}
                        <div class="bg-danger">{% for error in form.keywords.errors %}<div>{{ error }}</div>{% endfor %}</div>
                    {% endif %}
                    {{ form.keywords(class_='form-control') }}
                </div>
                <div class="row">
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        {{ form.max_page.label }}
                        {% if form.max_page.errors %}
                            <div class="bg-danger">{% for error in form.max_page.errors %}<div>{{ error }}</div>{% endfor %}</div>
                        {% endif %}
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        {{ form.max_page(class_='form-control', type='number', min='1') }}
                    </div>
                </div>
                <!-- <div class="form-group text-left"">
                    {{ form.max_page.label(class_='col-xs-10 col-sm-10 col-md-10 col-lg-10', id='max_page_label') }}
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="max_page_input">
                        {{ form.max_page(class_='form-control', type='number', min='1') }}
                    </div>
                </div>
                {% if form.max_page.errors %}
                    <div class="bg-danger">{% for error in form.max_page.errors %}<div>{{ error }}</div>{% endfor %}</div>
                {% endif %} -->
                <button type="submit" class="btn btn-success">Lancer le crawl</button>
            </form>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
            <h2>Résultats</h2>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Mots-clés</th>
                            <th>URL</th>
                            <th>Position</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in itemList %}
                            <tr>
                                <td>{{ item.keywords }}</td>
                                <td>{% if item.link != 'None' %}{{ item.link }}{% else %}N/A{% endif %}</td>
                                <td>{{ item.position }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>Debug</h2>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Mots-clés</th>
                            <th>Link with tags</th>
                            <th>URL</th>
                            <th>Position</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in itemListDebug %}
                            <tr>
                                <td>{{ item.keywords }}</td>
                                <td>{{ item.link_raw }}</td>
                                <td>{{ item.link }}</td>
                                <td>{{ item.position }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div> -->

        <!-- jQuery -->
        <script src="{{ url_for('static', filename='libs/jquery/dist/jquery.min.js') }}"></script>
        <!-- Bootstrap JavaScript -->
        <script src="{{ url_for('static', filename='libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    </body>
</html>